article {
  margin-bottom: 50px;

  h4 {
    margin-top: 40px;
  }

  p {
    margin-top: 20px;
  }

  .highlight {
    margin: 35px 0;
  }

  pre code {
    font-size: 80%;
  }

  .post-content {
    color: $gray-base;

    a {
      text-decoration: underline;
    }
  }

  footer {
    margin: 50px 0;

    a {
      color: $gray;
    }
  }
}

@media (max-width: $screen-sm-min) {
  article p {
    text-align: justify;
  }
}
